<div id="banner" class="page-header">
  <div class="row"> <br/><br/><br/></div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-xs-11 col-sm-4">
      <h1>Iniciar Sesion</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-xs-12 col-sm-4">
    <form action="/ingresar" method="get" role="form" class="form-horizontal">
      <div class="form-group">
        <label for="carnet" class="col-xs-10 col-sm-4 control-label">Carnet</label>
        <div class="col-xs-8 col-sm-12">
          <input id="carnet" carnet="carnet" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="clave" class="col-xs-10 col-sm-4 control-label">Clave</label>
        <div class="col-xs-8 col-sm-12">
          <input id="clave" type="password" clave="clave" class="form-control"/>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-xs-12 col-sm-6">
    <input id="Element1" type="radio" name="RadioGroup" checked=""/>Estudiante<br/>
    <input id="Element2" type="radio" name="RadioGroup"/>Profesor
  </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-xs-4 col-sm-2"><br/>
    <button class="btn btn-default pull-right">Ingresar</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-xs-4 col-sm-6"><br/><a href="/creacion/">¿No tiene una cuenta? Cree una cuenta ahora</a></div>
</div>