<div class="row">
  <div class="col-sm-9">
    <h2>Registro</h2>
    <form #form="ngForm" (ngSubmit)="onSubmitAddEstudiante(form.value)" class="well">
      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre" ngModel>
      </div>
      <div class="form-group">
        <label>Apellidos</label>
        <input type="text" class="form-control" name="apellidos" ngModel>
      </div>
      <div class="form-group">
        <label>Carnet</label>
        <input type="" class="form-control" name="carnet" ngModel>
      </div>
      <div class="form-group">
        <label>Universidad</label>
        <input type="text" class="form-control" name="universidad" ngModel>
      </div>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>
